@import 'bootstrap';

.top-20 {
  padding-top: 20px;
}

.top-40 {
  padding-top: 40px;
}

.tag-selector li {
  margin: 5px;
}

.selected-tags {
  .btn {
    margin-bottom: 5px;
  }
}

.tag-modal-h {
  height: 563px;
  overflow-y: auto;
}

.watermark {
  // background-color: #
}
